{% extends "templates/error.twig" %}
{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Ops! An error has occurred</h2>
                    <a href="/">Please return to the home page and try again.</a>
<pre style="text-align: left;">

<strong>Details:</strong>

<strong>Code:</strong> {{ code }}
<strong>Message:</strong> {{ message|raw }}
{% if debug %}
<strong>File:</strong> <span>{{ file }}</span>
<strong>Line:</strong> <span>{{ line }}</span>
{% endif %}
{% if debug %}

<strong>Debug:</strong>
<span style="font-size: 12px">{{ trace|raw }}</span>
{% endif %}
</pre>

                </div>
            </div>
        </div>
    </header>
    <br>
{% endblock %}
{% block script %}

{% endblock %}